@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .benefits__item{    
        &:first-child::before{
            content: '';
            display: block;
            width: 106px;
            height: 106px;
            margin: 0 auto;
            margin-bottom: 32px;
            background-image: url(/img/money@2x.svg);
            background-repeat: no-repeat;
            background-size: 106px;
        }
    
        &:nth-child(2)::before{
          
            background-image: url(/img/progress@2x.svg);
            background-repeat: no-repeat;
            background-size: 106px;
        }
    
        &:last-child::before{
           
            background-image: url(/img/card@2x.svg);
            background-repeat: no-repeat;
            background-size: 106px;
        }
    }

    
} 
